.add-project {
    display: flex;
    align-items: center;
    gap: var(--padding-small);

    padding: var(--padding-tiny);
    border-radius: 5px;
}

.add-project-icon {
    height: max-content;
    width: 20px;
    filter: invert(50%);
}

.add-project-label {
    color: var(--color-grey);
}

.add-project:hover:not(.showing-form)  {
    background-color: var(--color-lighter-grey);
}

.add-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-tiny);
}

.add-project-input,
.add-project-button {
    display: none;
}

.add-project-input {
    width: 100%;
    border: 0px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.add-project-button {

    width: min-content;
    padding: 5px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-two);
    color: white;
}

.add-project-button:hover {
    background-color: var(--color-two-highlight);
}