:root {
    --padding-tiny: 10px;
    --padding-small: 20px;
    --padding-regular: 34px;
    --padding-medium: 40px;
    --padding-large: 60px;

    --color-main: #630606;
    --color-two: #F52740;
    --color-three: #E83A14;
    --color-three-highlight: rgba(232,58,20,0.7);
    --color-four: #D9CE3F;
    --color-light-grey: #f5f5f5;
    --color-lighter-grey: #fdfdfd;
    --color-grey: #bbbbbb;
    --color-dark-grey: #4d4d4d;
    --color-darkest-grey: #2e2e2e;
}

@font-face {
    font-family: "Roboto";
    src: url(./Roboto-Regular.ttf);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: var(--color-darkest-grey);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: max-content;
    width: calc(100vw - 4 * var(--padding-tiny));
    max-width: 1300px;

    margin: var(--padding-regular);
    padding: var(--padding-tiny);
    min-height: calc(100vh - 4 * var(--padding-tiny) - 4 * var(--padding-regular));
    border-radius: 15px;

    box-shadow: 0 0 20px var(--color-grey);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-tiny) var(--padding-large);
    height: 40px;

    background-color: var(--color-two);
    border-radius: 10px 10px 0 0;
    color: white;
}

.icon {
    height: max-content;
    width: 20px;
}

.header-icon {
    filter: invert();
}

.home {
    display: flex;
    gap: var(--padding-small);
    align-items: center;

    font-size: 20px;
    font-weight: 700;
}

.home-icon {
    transform: scale(110%);
}

.home:hover,
.add-task:hover {
    transform: scale(120%);
}


.body {
    flex: 1;
    display: flex;
    

    width: 100%;
    background-color: var(--color-light-grey);
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.sidenav {
    flex: 0 1 min(20vw, 300px);

    display: flex;
    flex-direction: column;

    border-radius: 0 0 0 10px;
    padding: var(--padding-medium) var(--padding-tiny) var(--padding-medium) var(--padding-medium) ;
    gap: var(--padding-regular);
}

.sidenav-title {
    font-weight: 700;
    margin: 10px 0px;
}

.categories-container {
    display: flex;
    flex-direction: column;
}

.categories-container.projects {
    padding-left: var(--padding-tiny);
}

.category {
    display: flex;
    align-items: center;
    gap: var(--padding-small);

    padding: var(--padding-tiny);
    border-radius: 5px;
}

.category.selected {
    background-color: var(--color-three-highlight);
    color: white;
}

.category.selected .category-icon {
    filter: invert();
}

.category-icon {
    height: max-content;
    width: 20px;
}

.category:hover:not(.selected) {
    background-color: var(--color-lighter-grey);
}

.main {
    flex: 1 0;
    background-color: white;

    border: solid 1px var(--color-light-grey);
    border-radius: 0 0 10px 0;

    padding: var(--padding-medium);
}

.main * {
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;

    gap: var(--padding-small);
    padding: var(--padding-tiny);
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    gap: var(--padding-tiny);

    width: 100%;
    padding: var(--padding-tiny);
    border-bottom: solid 2px var(--color-light-grey);
}

.task:hover {
    background-color: var(--color-light-grey);
}

.task-icon-container {
    grid-row: 1 / span 2;
    grid-column: 1;
    display: flex;
    align-items: center;
}

.task-icon {
    width: 20px;
}

.task-title {
    grid-column: 2;
    grid-row: 1;
}

.task-details {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
    color: var(--color-dark-grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-due-date {
    grid-row: 1 / span 2;
    grid-column: 3;
    font-size: 12px;
    color: var(--color-dark-grey);
    
    display: flex;
    justify-content: right;
    align-items: center;
}

@media (max-width: 800px)  {
    .body {
        flex-direction: column;
    }
    .sidenav {
        flex-basis: 0;
        padding: var(--padding-tiny) var(--padding-regular) ;
        justify-content: space-around;
        
        flex-direction: row;
        gap: var(--padding-tiny);
    }
    .date-categories {
        flex-direction: row;
        align-items: flex-start;
    }
    .project-title {
        width: 100%;
    }
    .projects {
        position: relative;
    }
    .projects:hover .projects-content {
        display: block;
    }
    .projects-content {
        display: none;
        position: absolute;
        top: 40px;
        left: -10px;
        z-index: 1;
        background-color: var(--color-light-grey);
        padding: var(--padding-tiny);
        border-radius: 10px;
        box-shadow: 0 0 20px var(--color-grey);
    }
    .sidenav-title {
        display: flex;
    }

    .main {
        padding: var(--padding-tiny);
    }
    .task {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
    }
    .task-due-date {
        grid-row: 3;
        grid-column: 2;
        justify-content: flex-start;
    }
    .task-icon-container {
        grid-row: 1 / span 3;
    }
}

@media (max-width: 600px) {
    .category-icon {
        display: none;
    }
    .add-project {
        justify-content: center;
    }

    .add-project-label {
        display: none;
    }
}